In [1]:
import sys
import numpy as np
import pandas as pd
import os
sys.path.append('..')
import rbf_functions

In [2]:
rbfs = [rbf_functions.original_rbf,
        rbf_functions.squared_exponential_rbf,
        rbf_functions.inverse_quadratic_rbf,
        rbf_functions.inverse_multiquadric_rbf,
        rbf_functions.exponential_rbf,
        rbf_functions.matern32_rbf,
        rbf_functions.matern52_rbf,
       ]

In [3]:
output_dir = os.path.abspath('../notebooks/refsets/')
name = 'original_rbf'
filename = f'{name}_refset_variables.csv'
filename2 = f'{name}_refset.csv'
df_dvars = pd.read_csv(f"{output_dir}\{filename}",header=None)
df_refset = pd.read_csv(f"{output_dir}\{filename2}")

In [4]:
columnname = ["c1","r1","c2","r2","c3","r3","c4","r4","c5","r5","c6","r6","c7","r7","c8","r8","w1","w2","w3","w4","w5","w6","w7","w8","w9","w10","w11","w12","w13","w14","w15","w16"]
df_dvars.columns = columnname
df_dvars.describe()

,c1,r1,c2,r2,c3,r3,c4,r4,c5,r5,...,w7,w8,w9,w10,w11,w12,w13,w14,w15,w16
count,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,...,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000
mean,0.257929,0.532334,0.821445,0.691231,0.558406,0.389625,0.837406,0.685865,0.263664,0.632974,...,0.278282,0.514428,0.462882,0.383016,0.252389,0.353404,0.338116,0.404181,0.389899,0.266814
std,0.285780,0.325493,0.255319,0.164816,0.374540,0.355176,0.247826,0.222665,0.403693,0.328776,...,0.327269,0.320102,0.411459,0.296681,0.308324,0.361832,0.265256,0.297918,0.367903,0.337788
min,-0.897313,0.059290,-0.943344,0.060162,-0.949308,0.058990,-0.867420,0.042937,-0.988306,0.034919,...,0.000096,0.000084,0.000062,0.000030,0.000048,0.000305,0.000074,0.000028,0.000026,0.000004
25%,0.136830,0.267483,0.834638,0.573924,0.240412,0.113111,0.810784,0.515183,-0.002488,0.360872,...,0.021747,0.338863,0.058146,0.085894,0.021838,0.036792,0.127236,0.090135,0.031861,0.010211
50%,0.170924,0.336039,0.888255,0.694986,0.524036,0.208072,0.898041,0.683914,0.249655,0.785508,...,0.089896,0.422142,0.254518,0.398842,0.079051,0.081382,0.274328,0.422065,0.348949,0.058968
75%,0.426455,0.915211,0.908572,0.807298,0.889498,0.795940,0.945302,0.900342,0.503654,0.957868,...,0.562218,0.815228,0.931690,0.626213,0.470409,0.695717,0.505573,0.631731,0.784065,0.498951
max,0.996942,0.999914,0.999164,0.999520,0.998305,0.999690,0.999075,0.999997,0.998345,0.999977,...,0.995144,0.994587,0.999710,0.999243,0.982658,0.999269,0.998794,0.993284,0.999503,0.999720

In [5]:
df_dvars[['r1', 'r2', 'r3', 'r4','r5','r6','r7','r8']].describe().round(2)

            r1       r2       r3       r4       r5       r6       r7       r8
count  1514.00  1514.00  1514.00  1514.00  1514.00  1514.00  1514.00  1514.00
mean      0.53     0.69     0.39     0.69     0.63     0.57     0.65     0.78
std       0.33     0.16     0.36     0.22     0.33     0.27     0.34     0.17
min       0.06     0.06     0.06     0.04     0.03     0.00     0.01     0.06
25%       0.27     0.57     0.11     0.52     0.36     0.27     0.28     0.67
50%       0.34     0.69     0.21     0.68     0.79     0.62     0.83     0.81
75%       0.92     0.81     0.80     0.90     0.96     0.78     0.96     0.92
max       1.00     1.00     1.00     1.00     1.00     1.00     1.00     1.00

In [6]:
# Original
output_dir = os.path.abspath('../notebooks/refsets/')
name = 'original_rbf'
filename = f'{name}_refset_variables.csv'
df_dvars = pd.read_csv(f"{output_dir}\{filename}",header=None)
df_dvars.columns = columnname

df = pd.DataFrame(columns=["center", "radius", "weights"])
df["center"] = (df_dvars["c1"] + df_dvars["c2"] + df_dvars["c3"] + df_dvars["c4"] + df_dvars["c5"] + df_dvars["c6"] + df_dvars["c7"] + df_dvars["c8"])/8
df["radius"] = (df_dvars["r1"] + df_dvars["r2"] + df_dvars["r3"] + df_dvars["r4"] + df_dvars["r5"] + df_dvars["r6"] + df_dvars["r7"] + df_dvars["r8"])/8
df["weight"] = (df_dvars["w1"] + df_dvars["w2"] + df_dvars["w3"] + df_dvars["w4"] + df_dvars["w5"] + df_dvars["w6"] + df_dvars["w7"] + df_dvars["w8"]+df_dvars["w9"] + df_dvars["w10"] + df_dvars["w11"] + df_dvars["w12"] + df_dvars["w13"] + df_dvars["w14"] + df_dvars["w15"] + df_dvars["w16"])/16
# df.loc[:,"center"].map('{:.2f}'.format)
df.describe().round(2)

        center   radius   weight
count  1514.00  1514.00  1514.00
mean      0.57     0.62     0.37
std       0.11     0.11     0.09
min       0.06     0.36     0.13
25%       0.51     0.54     0.30
50%       0.60     0.60     0.36
75%       0.64     0.68     0.43
max       0.74     0.97     0.68

In [7]:
# IMQ
output_dir = os.path.abspath('../notebooks/refsets/')
name = 'inverse_multiquadric_rbf'
filename = f'{name}_refset_variables.csv'
df_dvars = pd.read_csv(f"{output_dir}\{filename}",header=None)
df_dvars.columns = columnname

df = pd.DataFrame(columns=["center", "radius", "weights"])
df["center"] = (df_dvars["c1"] + df_dvars["c2"] + df_dvars["c3"] + df_dvars["c4"] + df_dvars["c5"] + df_dvars["c6"] + df_dvars["c7"] + df_dvars["c8"])/8
df["radius"] = (df_dvars["r1"] + df_dvars["r2"] + df_dvars["r3"] + df_dvars["r4"] + df_dvars["r5"] + df_dvars["r6"] + df_dvars["r7"] + df_dvars["r8"])/8
df["weight"] = (df_dvars["w1"] + df_dvars["w2"] + df_dvars["w3"] + df_dvars["w4"] + df_dvars["w5"] + df_dvars["w6"] + df_dvars["w7"] + df_dvars["w8"] + df_dvars["w9"] + df_dvars["w10"] + df_dvars["w11"] + df_dvars["w12"] + df_dvars["w13"] + df_dvars["w14"] + df_dvars["w15"] + df_dvars["w16"])/16
# df.loc[:,"center"].map('{:.2f}'.format)
df.describe().round(2)

        center   radius   weight
count  1157.00  1157.00  1157.00
mean      0.34     0.53     0.34
std       0.20     0.15     0.10
min      -0.32     0.11     0.13
25%       0.21     0.42     0.27
50%       0.37     0.52     0.32
75%       0.51     0.63     0.39
max       0.74     0.98     0.75

In [8]:
# Exponential
output_dir = os.path.abspath('../notebooks/refsets/')
name = 'exponential_rbf'
filename = f'{name}_refset_variables.csv'
df_dvars = pd.read_csv(f"{output_dir}\{filename}",header=None)
df_dvars.columns = columnname

df = pd.DataFrame(columns=["center", "radius", "weights"])
df["center"] = (df_dvars["c1"] + df_dvars["c2"] + df_dvars["c3"] + df_dvars["c4"] + df_dvars["c5"] + df_dvars["c6"] + df_dvars["c7"] + df_dvars["c8"])/8
df["radius"] = (df_dvars["r1"] + df_dvars["r2"] + df_dvars["r3"] + df_dvars["r4"] + df_dvars["r5"] + df_dvars["r6"] + df_dvars["r7"] + df_dvars["r8"])/8
df["weight"] = (df_dvars["w1"] + df_dvars["w2"] + df_dvars["w3"] + df_dvars["w4"] + df_dvars["w5"] + df_dvars["w6"] + df_dvars["w7"] + df_dvars["w8"]+df_dvars["w9"] + df_dvars["w10"] + df_dvars["w11"] + df_dvars["w12"] + df_dvars["w13"] + df_dvars["w14"] + df_dvars["w15"] + df_dvars["w16"])/16
df.describe().round(2)

       center  radius  weight
count  946.00  946.00  946.00
mean     0.62    0.65    0.43
std      0.08    0.12    0.09
min      0.28    0.45    0.19
25%      0.62    0.56    0.36
50%      0.64    0.61    0.43
75%      0.66    0.69    0.49
max      0.73    0.99    0.74